<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Platform using Wikipedia, NLP, and machine learning to generate courses as a low-cost educational resource alternative.">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:site_name" content="Wiki Pi">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Wiki Pi">
  <meta property="og:description" content="Platform using Wikipedia, NLP, and machine learning to generate courses as a low-cost educational resource alternative.">
  <meta property="og:url" content="https://wikipi.org">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Wiki Pi">
  <meta name="twitter:description" content="Platform using Wikipedia, NLP, and machine learning to generate courses as a low-cost educational resource alternative.">
  <meta name="twitter:url" content="https://wikipi.orga">
  <title>Wiki Pi</title>

  <!-- Bootstrap Compressed and Minified CSS -->
  <link rel="stylesheet" href="/css-lib/bootstrap.min.css">
  <!-- Select2 Compressed and Minified CSS -->
  <link rel="stylesheet" href="/css-lib/select2.min.css">
  <!-- WikiPi CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- jQuery Compressed and Minified JavaScript -->
  <script type="text/javascript" src="/js-lib/jquery-3.2.1.min.js"></script>
  <!-- Tether Compressed and Minified JavaScript -->
  <script type="text/javascript" src="/js-lib/tether.min.js"></script>
  <!-- Bootstrap Compressed and Minified JavaScript -->
  <script type="text/javascript" src="/js-lib/bootstrap.min.js"></script>
  <!-- Select2 Compressed and Minified JavaScript -->
  <script type="text/javascript" src="/js-lib/select2.min.js"></script>
  <!-- Success and Error Codes JavaScript -->
  <script type="text/javascript" src="/js-es5-min/codes.js"></script>
</head>
