<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Using machine learning and NLP to create educational content from Wikipedia.">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:site_name" content="Wiki Pi">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Wiki Pi">
  <meta property="og:description" content="Using machine learning and NLP to create educational content from Wikipedia.">
  <meta property="og:url" content="https://wikipi.org">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Wiki Pi">
  <meta name="twitter:description" content="Using machine learning and NLP to create educational content from Wikipedia.">
  <meta name="twitter:url" content="https://wikipi.orga">
  <title>Wiki Pi</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css">

  </script>
</head>
