<nav class="navbar navbar-toggleable-xs navbar-inverse" style="background-color: #0D47A1;">
  <button class="navbar-toggler navbar-toggler-right navbar-main-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-main"></span>
  </button>
  <div class="navbar-brand navbar-title">{{pageTitle}}</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-list-item" href="/">Back</a>
      </li>


      <li class="nav-item">
        <a class="nav-link nav-list-item" href="/">{{pageName}}</a>
      </li>



      <li class="nav-item">
        <a class="nav-link nav-list-item" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-list-item" href="/help">Help</a>
      </li>
    </ul>
  </div>
</nav>
