<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-course-overview">
    {{> navbar}}

    <div class="container offset-top course-main-container">
        <!-- Course Title -->
        <div class="row course-title-container">
            <div class="col-md-12">
                <div id="course-title" class="course-title"></div>
                <div id="course-id" class="course-id"></div>
                <div id="course-created" class="course-created"></div>
            </div>     
        </div>

        <!-- Course Statistics -->
        <div class="course-card-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="course-section-title">
                        Statistics
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="course-stats-card">
                        <div class="course-stats-title">
                            Course Progress
                        </div>
                        <div>
                            <canvas id="course-progress-chart" height="100px" class="course-stats-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-stats-card">
                        <div class="course-stats-title">
                            Time Spent
                        </div>
                        <div>
                            <canvas id="course-time-chart" height="100px" class="course-stats-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-stats-card">
                        <div class="course-stats-title">
                            Grade
                        </div>
                        <div id="course-grade" class="course-grade"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Course Content Sections -->
        <div class="course-card-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="course-section-title">
                        Sections
                    </div>
                </div>
            </div>

            <div id="course-section-container"></div>
        </div>
    </div>

    <script type="text/javascript">
        let courseOpened = {{{courseOpened}}};
    </script>
    <script type="text/javascript" src="/js-lib/chart.min.js"></script>
    <script type="text/javascript" src="/js-es6/courseOverview.js"></script>
  </body>
</html>
