<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> navbar}}

    <div class="container-fluid offset-top course-main-container">
        <!-- Course Title -->
        <div class="row course-title-container">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div id="course-title" class="course-title">
                    Mathematics
                </div>
                <div id="course-id" class="course-id">
                    Course ID: 123456789
                </div>
                <div id="course-created" class="course-created">
                    Date Created: January 1, 2017
                </div>
            </div>     
            <div class="col-md-2"></div>
        </div>

        <!-- Course Statistics -->
        <div class="course-card-container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="course-section-title">
                        Statistics
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="course-stats-card">
                        <div class="course-stats-title">
                            Course Progress
                        </div>
                        <div>
                            <canvas id="course-progress-chart" height="100px" class="course-stats-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="course-stats-card">
                        <div class="course-stats-title">
                            Time Spent
                        </div>
                        <div>
                            <canvas id="course-time-chart" height="100px" class="course-stats-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="course-stats-card">
                        <div class="course-stats-title">
                            Grade
                        </div>
                        <div id="course-grade" class="course-grade">
                            95%
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <!-- Course Content Sections -->
        <div class="course-card-container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="course-section-title">
                        Sections
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div id="course-section-container">
                <div class="row course-content-row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="course-content-card">
                            <span class="course-content-card-title">
                                <a href="#">Mathematics</a>
                            </span>
                            <span class="course-content-card-completion completed">
                                Completed
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row course-content-row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="course-content-card">
                            <div class="course-content-card-title">
                                <a href="#">Graph Theory</a>
                            </div>
                            <div class="course-content-card-completion completed">
                                Completed
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row course-content-row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="course-content-card">
                            <div class="course-content-card-title">
                                <a href="#">Multiplication</a>
                            </div>
                            <div class="course-content-card-completion completed">
                                Completed
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row course-content-row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="course-content-card">
                            <div class="course-content-card-title">
                                <a href="#">Geometry</a>
                            </div>
                            <div class="course-content-card-completion completed">
                                Completed
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row course-content-row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="course-content-card">
                            <div class="course-content-card-title">
                                <a href="#">Calculus</a>
                            </div>
                            <div class="course-content-card-completion uncompleted">
                                Uncompleted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let courseOpened = {{{courseOpened}}};
    </script>
    <script type="text/javascript" src="/js-lib/chart.min.js"></script>
    <script type="text/javascript" src="/js-es6/viewCourse.js"></script>
  </body>
</html>
