<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-main">

    <div class="main-area main-left">
      <div class="container-fluid main-options-container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">Wiki Pi</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="main-title-desc">Using machine learning and natural
            language processing to create course content from Wikipedia.</div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-title-link">
              <a href="#">About</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-title-link">
              <a href="#">Help</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-area main-right">
      <div class="container-fluid main-options-container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="main-option">
              <a href="#">+ Create a new course</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="main-option">
              <a href="#">+ Open an existing course</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
