<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-main">
    <div class="main-area main-left">
      <div class="container-fluid main-options-container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              Wiki Pi
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="main-title-desc">
              Platform using Wikipedia to generate courses as a low-cost educational resource alternative.
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-title-link">
              <a href="/about">About</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-title-link">
              <a href="/help">Help</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-area main-right">
      <div class="container-fluid main-options-container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="main-option">
              <a href="/new-course">+ Create a new course</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="main-option">
              <a href="/open-course">+ Open an existing course</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> footer}}
  </body>
</html>
