<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-info">
    {{> navbar}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 info-container">
                {{{pageContent}}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  </body>
</html>
