<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-new-course-results">
    {{> navbar}}

    <div class="new-course-results-btn-container">
      <button id="btn-create-course-finish" class="btn-create-course-finish" type="button" name="btn-create-course-finish">
        FINISH COURSE CREATION
      </button>
    </div>

    <div class="container-fluid offset-top">
      <div class="row">
        <div class="col-md-12">
          <div class="new-course-results-title">
            New Course Results
          </div>
          <div id="articles-found" class="new-course-results-articles-found"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 new-course-results-left">
          <div id="articles-results-list" class="row">
          </div>
        </div>

        <div class="col-md-9">
          <div id="article-view" class="col-md-12 new-course-results-right">
          </div>
        </div>
      </div>
    </div>

    <div id="loading-container" class="loading-container">
      <div class="container-fluid loading-main">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div id="loading-title" class="loading-title">
              Saving course creation
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="loader"></div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let articlesFound = {{articlesFound}};
      let articlesResults = {{{articlesResults}}};
    </script>
    <script type="text/javascript" src="/js-es6/newCourseResults.js"></script>
  </body>
</html>
