<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-new-course-results">
    {{> navbar}}

    <div class="new-course-results-btn-container">
      <button id="btn-create-course-finish" class="btn-create-course-finish" type="button" name="btn-create-course-finish">
        FINISH COURSE CREATION
      </button>
    </div>

    <div class="container-fluid offset-top">
      <div class="row">
        <div class="col-md-12">
          <div class="new-course-results-title">
            New Course Results
          </div>
          <div class="new-course-results-articles-found">
            {{articlesFound}} articles found.
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 new-course-results-left">
          <div class="row">
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
            <div class="col-md-12 new-course-results-article-card">
              <div class="new-course-results-article-card-title">
                New York City
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="col-md-12 new-course-results-right">
            <h1>New York City</h1>
            <p>The City of New York, often called New York City or simply New York, is the most populous city in the United States. With an estimated 2016 population of 8,537,673 distributed over a land area of about 302.6 square miles (784 km2), New York City is also the most densely populated major city in the United States. Located at the southern tip of the state of New York, the city is the center of the New York metropolitan area, one of the most populous urban agglomerations in the world. A global power city, New York City exerts a significant impact upon commerce, finance, media, art, fashion, research, technology, education, and entertainment, its fast pace defining the term New York minute. Home to the headquarters of the United Nations, New York is an important center for international diplomacy and has been described as the cultural, financial, and media capital of the world.</p>
            <p>Situated on one of the world's largest natural harbors, New York City consists of five boroughs, each of which is a separate county of New York State. The five boroughs – Brooklyn, Queens, Manhattan, The Bronx, and Staten Island – were consolidated into a single city in 1898. The city and its metropolitan area constitute the premier gateway for legal immigration to the United States, and as many as 800 languages are spoken in New York, making it the most linguistically diverse city in the world. New York City is home to more than 3.2 million residents born outside the United States, the world's largest foreign-born population of any city. By 2016 estimates, the New York City metropolitan region remains by a significant margin the most populous in the United States, as defined by both the Metropolitan Statistical Area (MSA), 20.2 million residents, and the Combined Statistical Area (CSA), 23.7 million residents. In 2013, the MSA produced a gross metropolitan product (GMP) of nearly US$1.39 trillion. In 2012, the CSA generated a GMP of over US$1.55 trillion. NYC's MSA and CSA GDP are higher than the GDPs of all but 11 and 12 countries, respectively.</p>
            <p>New York City traces its origin to its 1624 founding in Lower Manhattan as a trading post by colonists of the Dutch Republic and was named New Amsterdam in 1626. The city and its surroundings came under English control in 1664 and were renamed New York after King Charles II of England granted the lands to his brother, the Duke of York. New York served as the capital of the United States from 1785 until 1790. It has been the country's largest city since 1790. The Statue of Liberty greeted millions of immigrants as they came to the Americas by ship in the late 19th and early 20th centuries and is a symbol of the United States and its democracy. In the 21st century, New York has emerged as a global node of creativity and entrepreneurship, social tolerance, and environmental sustainability, and as a world symbol of freedom and cultural diversity.</p>
            <h2>History</h2>
            <h3>Etymology</h3>
            <p>In 1664, the city was named after then Duke of York, and future King of England James II. James had been named by his older brother Charles II as proprietor of the former territory of New Netherlands and its main city of New Amsterdam, which had recently been seized from the Dutch.</p>
            <h3>Early history</h3>
            <p>During the Wisconsinan glaciation, the New York City region was situated at the edge of a large ice sheet over 1,000 feet in depth. The ice sheet scraped away large amounts of soil, leaving the bedrock that serves as the geologic foundation for much of New York City today. Later on, movement of the ice sheet would contribute to the separation of what are now Long Island and Staten Island.In the precolonial era, the area of present-day New York City was inhabited by various bands of Algonquian tribes of Native Americans, including the Lenape, whose homeland, known as Lenapehoking, included Staten Island; the western portion of Long Island, including the area that would become Brooklyn and Queens; Manhattan; the Bronx; and the Lower Hudson Valley.The first documented visit by a European was in 1524 by Giovanni da Verrazzano, a Florentine explorer in the service of the French crown, who sailed his ship La Dauphine into New York Harbor. He claimed the area for France and named it Nouvelle Angoulême (New Angoulême).</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="loading-container" class="loading-container">
      <div class="container-fluid loading-main">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="loading-title">
              Creating new course
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="loader"></div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div> -->

    <script type="text/javascript" src="js-es6/newCourseResults.js"></script>

  </body>
</html>
