<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-new-course">
    {{> navbar}}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="new-course-title">
            Create a New Course
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 new-course-container">

          <div class="row">
            <div class="col-md-12">
              <div class="new-course-desc">
                New courses are created by specifying an intial starting article
                and a parameter for text similarity.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <!-- New Course Form -->
              <div class="new-course-form">

                <div class="form-group row course-form-item">
                  <label for="starting-article" class="col-12 col-form-label course-form-label">Starting Article</label>
                  <label id="empty-starting-article" class="col-12 col-form-label empty-course-form-label">This cannot be empty.</label>
                  <select id="course-form-search" class="course-form-search"></select>
                </div>

                <div class="form-group row">
                  <label for="example-text-input" class="col-12 col-form-label course-form-label">Text Similarity Threshold</label>
                  <label id="text-similarity-percent" for="text-similarity" class="col-12 col-form-label course-form-label">Slide to change:</label>
                  <div class="col-12">
                    <input class="form-control course-form-input-range" type="range" id="text-similarity" min="0" max="100" value="50">
                  </div>
                </div>

                <button type="button" id="btn-create-course" class="btn-create-course" name="button">CREATE COURSE</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div id="loading-container" class="loading-container">
      <div class="container-fluid loading-main">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="loading-title">
              Creating new course
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="loader"></div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js-es6/initializeSelect2.js"></script>
    <script type="text/javascript" src="js-es6/newCourse.js"></script>

  </body>
</html>
