<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-open-course">
    {{> navbar}}

    <div class="container-fluid empty-no-courses-container">
      <div class="row">
        <div class="col-md-12">
          <div class="empty-no-courses">
            You have no existing courses.
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
