<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-open-course">
    {{> navbar}}

    <div id="empty-open-course" class="container-fluid empty-no-courses-container">
      <div class="row">
        <div class="col-md-12">
          <div class="empty-no-courses">
            You have no existing courses.
          </div>
        </div>
      </div>
    </div>

    <div id="open-course-container" class="container-fluid open-course-container offset-top">
      <div class="row">
        <div class="col-md-12">
          <div class="new-course-title">
            Open an Existing Course
          </div>
        </div>
      </div>

      <div id="open-courses-list" class="row">
        <div class="col-md-4">
          <div class="card-container">
            <div class="course-card-title">
              Mathematics
            </div>
            <div class="course-card-desc">
              Course Created: August 25, 2017 
            </div>

            <div>
              <canvas style="height: 8em;" id="graph"></canvas>
            </div>
          
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let savedCourses = {{{savedCourses}}};
    </script>
    <script type="text/javascript" src="js-lib/chart.min.js"></script>
    <script type="text/javascript" src="js-es6/openCourse.js"></script>

  </body>
</html>
