@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/roboto/Roboto-Black.ttf');
}

*:focus {
  outline: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Footer */
.footer-main {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

.footer-content {
  font-family: 'Roboto Light';
  font-size: 0.75em;
  color: #fff;
}

.footer-content a {
  color: #fff;
}

.footer-content a:hover {
  text-decoration: none;
  color: #add8e6;
}

/* Home Page */
.main-area {
  width: 50%;
  float: left;
  clear: right;
}

.main-left {
  height: 100%;
  background-color: #0D47A1;
}

.main-right {
  height: 100%;
  background-color: #f1f1f1;
}

.main-title,
.main-title-desc,
.main-title-link {
  color: #fff;
  text-align: center;
}

.main-title {
  font-family: 'Roboto Bold';
  font-size: 4em;
  margin-bottom: 0.25em;
}

.main-title-desc {
  font-family: 'Roboto Light';
  font-size: 1em;
  margin-bottom: 4em;
}

.main-title-link {
  font-family: 'Roboto Light';
  font-size: 1em;
  margin-bottom: 1em;
}

.main-title-link a {
  text-decoration: none;
  color: #fff;
}

.main-title-link a:hover {
  color: #add8e6;
}

.main-options-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-option {
  font-family: 'Roboto Bold';
  font-size: 2em;
  margin-bottom: 1em;
}

.main-option a {
  text-decoration: none;
}

.main-option a:hover {
  text-decoration: none;
  color: #0D47A1;
}

@media all and (max-width: 965px) {
  .main-option {
    font-size: 1.5em;
  }
}

@media all and (max-width: 620px) {
  .main-option {
    font-size: 1.25em;
  }
}

@media all and (max-width: 530px) {
  .main-option {
    font-size: 1.15em;
  }
}

@media all and (max-width: 500px) {
  .main-option {
    font-size: 1em;
  }
}

@media all and (max-width: 435px) {
  .main-option {
    font-size: 0.75em;
  }
}


@media all and (max-width: 615px) {
  .main-title {
    font-size: 3em;
  }

  .main-title-desc {
    font-size: 0.75em;
  }

  .main-title-link {
    font-size: 0.75em;
  }
}

/* Navbar */
.navbar-main-btn {
  margin-top: 0.1em;
  outline: none !important;
  border: none !important;
}

.navbar-main {
  cursor: pointer;
}

.navbar-title {
  font-family: 'Roboto Medium';
  font-size: 1.5em;
}

.nav-list-item {
  font-family: 'Roboto Light';
}

/* Create New Course, Open Existing Course */
.body-new-course {
  background-color: #f1f1f1;
}

.new-course-container {
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  width: auto;
  height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-course-desc {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.new-course-form {
  margin-top: 1em;
}

.course-form-label {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.course-form-input {
  border: none;
  border-bottom-style: inset;
  border-radius: 0;
  outline: none;
}

.course-form-item {
  margin-bottom: 1em;
}

.btn-create-course {
  background-color: #0D47A1;
  border: none;
  padding: 1em;
  font-family: 'Roboto Light';
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.btn-create-course:hover {
  background-color: #1565C0;
}

.btn-create-course:active {
  background-color: #1976D2;
}

.body-open-course {
  background-color: #f1f1f1;
}

.empty-no-courses-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.empty-no-courses {
  font-family: 'Roboto Light';
  font-size: 2em;
  color: #a1a1a1;
}
