@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/roboto/Roboto-Black.ttf');
}

*:focus {
  outline: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.footer-main {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

.footer-content {
  font-family: 'Roboto Light';
  font-size: 0.75em;
  color: #fff;
}

.footer-content a {
  color: #fff;
}

.footer-content a:hover {
  text-decoration: none;
  color: #add8e6;
}

.main-area {
  width: 50%;
  float: left;
  clear: right;
}

.main-left {
  height: 100%;
  background-color: #0D47A1;
}

.main-right {
  height: 100%;
  background-color: #f1f1f1;
}

.main-title,
.main-title-desc,
.main-title-link {
  color: #fff;
  text-align: center;
}

.main-title {
  font-family: 'Roboto Bold';
  font-size: 4em;
  margin-bottom: 0.25em;
}

.main-title-desc {
  font-family: 'Roboto Light';
  font-size: 1em;
  margin-bottom: 4em;
}

.main-title-link {
  font-family: 'Roboto Light';
  font-size: 1em;
  margin-bottom: 1em;
}

.main-title-link a {
  text-decoration: none;
  color: #fff;
}

.main-title-link a:hover {
  color: #add8e6;
}

.main-options-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-option {
  font-family: 'Roboto Bold';
  font-size: 2em;
  margin-bottom: 1em;
}

.main-option a {
  text-decoration: none;
}

.main-option a:hover {
  text-decoration: none;
  color: #0D47A1;
}

@media all and (max-width: 965px) {
  .main-option {
    font-size: 1.5em;
  }
}

@media all and (max-width: 620px) {
  .main-option {
    font-size: 1.25em;
  }
}

@media all and (max-width: 530px) {
  .main-option {
    font-size: 1.15em;
  }
}

@media all and (max-width: 500px) {
  .main-option {
    font-size: 1em;
  }
}

@media all and (max-width: 435px) {
  .main-option {
    font-size: 0.75em;
  }
}


@media all and (max-width: 615px) {
  .main-title {
    font-size: 3em;
  }

  .main-title-desc {
    font-size: 0.75em;
  }

  .main-title-link {
    font-size: 0.75em;
  }
}

.navbar-main-btn {
  margin-top: 0.1em;
  outline: none !important;
  border: none !important;
}

.navbar-main {
  cursor: pointer;
}

.navbar-title {
  font-family: 'Roboto Medium';
  font-size: 1.5em;
}

.navbar-title a {
  color: #fff;
  text-decoration: none;
}

.navbar-title a:hover {
  color: #d4ebf2;
}

.nav-list-item {
  font-family: 'Roboto Light';
}

.offset-top {
  margin-top: 5em;
}

.body-new-course {
  background-color: #f1f1f1;
}

.body-new-course-results {
  background-color: #f1f1f1;
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .body-new-course-results {
    overflow: auto;
  }
}

.new-course-container {
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-course-title {
  font-family: 'Roboto Thin';
  font-size: 2.25em;
}

.new-course-results-btn-container {
  position: fixed;
  z-index: 99;
  bottom: 0;
  margin-left: calc(50vw - 8em);
  margin-right: calc(50vw - 8em);
  height: 5em;
  text-align: center;
}

.btn-create-course-finish {
  background-color: #0D47A1;
  border: none;
  width: 16em;
  padding: 1em;
  font-family: 'Roboto Light';
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  border-radius: 0.1em;
  box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
}

.btn-create-course-finish:hover {
  background-color: #1565C0;
}

.btn-create-course-finish:active {
  background-color: #1976D2;
}

.new-course-results-left {
  height: calc(100vh - 190px);
  overflow-y: scroll;
  padding-top: 0.5em;
  padding-right: 2em;
}

.new-course-results-article-card {
  background-color: #fff;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.new-course-results-article-card:hover {
  color: #7997a1;
}

.new-course-results-article-card-title {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.new-course-results-right {
  position: absolute;
  width: auto;
  height: calc(100vh - 190px);
  overflow-y: scroll;
  padding: 2em;
  margin-left: 0em;
  margin-right: 1em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media all and (max-width: 768px) {
  .new-course-results-right {
    margin-top: 1em;
    margin-left: 0em;
  }
}

.new-course-results-right h1,
.new-course-results-right h2,
.new-course-results-right h3,
.new-course-results-right h4,
.new-course-results-right h5,
.new-course-results-right h6 {
  font-family: 'Roboto Light';
}

.new-course-results-right h1 {
  font-size: 2.2em;
}

.new-course-results-right h2 {
  font-size: 1.8em;
}

.new-course-results-right h3 {
  font-size: 1.4em;
}

.new-course-results-right h4 {
  font-size: 1.3em;
}

.new-course-results-right h5 {
  font-size: 1.2em;
}

.new-course-results-right h6 {
  font-size: 1.1em;
}

.new-course-results-right p {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.new-course-results-title {
  font-family: 'Roboto Thin';
  font-size: 2.25em;
}

.new-course-results-articles-found {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.new-course-desc {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.new-course-form {
  margin-top: 1em;
}

.course-form-label {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.course-form-search {
  position: relative;
  border: none;
  outline: none;
  font-family: 'Roboto Light';
  font-size: 1em;
}

/* Select2 Dropdown */
body > div.container-fluid > div:nth-child(2) >
div.col-md-6.new-course-container > div:nth-child(2) >
div > div > div.form-group.row.course-form-item > span {
  margin-left: 1em;
  margin-right: 1em;
  width: 100% !important;
  font-family: 'Roboto Light';
  font-size: 1em;
}

.course-form-input {
  border: none;
  border-bottom-style: inset;
  border-radius: 0;
  outline: none;
  font-family: 'Roboto Light';
  font-size: 1em;
}

.course-form-item {
  margin-bottom: 1em;
}

.btn-create-course {
  background-color: #0D47A1;
  border: none;
  padding: 1em;
  font-family: 'Roboto Light';
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.btn-create-course:hover {
  background-color: #1565C0;
}

.btn-create-course:active {
  background-color: #1976D2;
}

.body-open-course {
  background-color: #f1f1f1;
}

.empty-no-courses-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.empty-no-courses {
  font-family: 'Roboto Light';
  font-size: 2em;
  color: #a1a1a1;
}

.empty-course-form-label {
  padding-top: 0;
  font-family: 'Roboto Light';
  font-size: 1em;
  color: #B71C1C;

}

#empty-starting-article {
  display: none;
}

#empty-ending-article {
  display: none;
}

.card-container {
  background-color: #fff;
  margin-top: 1em;
  padding: 1em;
  height: 15em;
  border-radius: 0.1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.card-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title {
  font-family: 'Roboto Medium';
  font-size: 1.5em;
}

.card-desc {
  font-family: 'Roboto Light';
  font-size: 1em;
}

.loading-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.loading-main {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.loading-title {
  font-family: 'Roboto Medium';
  font-size: 1.5em;
  color: #fff;
}

.loader {
  margin-top: 2em;
  margin-left: 40%;
  border: 0.5em solid #fff;
  border-radius: 50%;
  border-top: 0.5em solid #1565C0;
  width: 4em;
  height: 4em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.new-course-success-container{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  display: block;
}

.new-course-success-main {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.success-container {
  background-color: #fff;
  opacity: 0.75;
  width: 100%;
  height: 15em;
  border-radius: 0.25em;
}

.success-title {
  padding-top: 1em;
  font-family: 'Roboto Medium';
  font-size: 1.5em;
  color: #000;
}

.success-desc {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Roboto Light';
  font-size: 1em;
  color: #000;
  text-align: left;
}

.btn-goto-course {
  background-color: #0D47A1;
  border: none;
  padding: 1em;
  font-family: 'Roboto Light';
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.btn-goto-course:hover {
  background-color: #1565C0;
}

.btn-goto-course:active {
  background-color: #1976D2;
}
